{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="font-size: 20px">
<p><b>Thanks for Registration, Click the button below to subscribe to our Youtube Channel</b></p>

<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCEZAhBBmxvUHaYkWB8J4Ltg" data-layout="default" data-count="default"></div>

<p>and hit bell icon to get notified of new updates</p>
<br>
<p>Webinar will be live on YouTube @07:00 PM</p>
<b><p><a href="https://www.youtube.com/watch?v=vxAn--41K5U">01-05-2020 Machine Learning with Scikit-Learn Webinar</a></p>
<p>Timings : 07:00 PM - 08:30 PM</p></b>
<br>
<p style="font-family: cursive;">p.s: Participants who have registered will receive certificate and material after the webinar</p>
</div>
{% endblock %}